* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.site_header {
  background-image: url(../img/header_lg_bg.png);
  background-position: center;
  background-color: rgb(54, 53, 53);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 138px 0;
}

.site_header * {
  color: #fff;
}

.header_top_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 19px;
  margin: 0 auto 28px auto;
}

.header_account_list {
  margin: 0 auto 112px auto;
}

.header_account_list_item {
  display: inline-block;
  margin-left: -20px;
}

.header_account_list_item:not(:last-child) {
  margin-right: 12px;
}

.header_account_list_item a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
}

.header_sign_up a,
.header_log_in a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 33px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: border-color .2s linear;
}

.header_sign_up a:hover,
.header_log_in a:hover {
  border-color: #fff;
}

.header_company_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header_company_name,
.header_upper_slogan {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}

.header_company_name {
  font-size: 20px;
}

.header_upper_slogan {
  margin-bottom: 8px;
  font-size: 30px;
  text-align: center;
  width: 291px;
}

.header_lower_slogan {
  margin-bottom: 14px;
  font-size: 18px;
  text-align: center;
  width: 212.3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
}

.header_link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 279px;
  height: 37px;
  background-color: #ff4e50;
  transition: all .2s linear;
  cursor: pointer;
}

.header_link:hover {
  background-color: #cf3e40;
  box-shadow: rgb(238, 210, 55) 2px 2px 2px 2px;
}

.partners_section {
  padding-top: 70px;
  padding-bottom: 58px;
  margin: 0 auto;
}

.partners_heading {
  font-size: 22px;
  text-align: center;
  margin-bottom: 18px;
}

.partners_heading,
.partners_list_item h3,
.partners_link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}

.partners_list {
  width: 214px;
  margin: 0 auto;
  list-style: none;
}

.partners_list_item {
  text-align: center;
  font-size: 14px;
}

.partners_list_item:not(:last-child) {
  margin-bottom: 27px;
}

.partners_list_item .img_block {
  width: 121px;
  height: 121px;
  position: relative;
  margin: 0 auto;
}

.partners_list_item:nth-child(1) .img_block {
  background-image: url(../img/partner_1.png);
}

.partners_list_item:nth-child(2) .img_block {
  background-image: url(../img/partner_2.png);
}

.partners_list_item:nth-child(3) .img_block {
  background-image: url(../img/partner_3.png);
}

.partners_list_item:nth-child(4) .img_block {
  background-image: url(../img/partner_4.png);
}

.partners_list_item .img_block::after {
  content: "";
  width: 31px;
  height: 31px;
  position: absolute;
  top: 86px;
  left: 71%;
  border-radius: 100%;
  background-repeat: no-repeat;
  border: 4px solid #fff;
}

.partners_list_item:nth-child(1) .img_block::after {
  background-color: #ff4e50;
  background-image: url(../img/partner_1_icon.png);
  background-position: 49% 45%;
}

.partners_list_item:nth-child(2) .img_block::after {
  background-color: #ffa507;
  background-image: url(../img/partner_2_icon.png);
  background-position: 50% 45%;
}

.partners_list_item:nth-child(3) .img_block::after {
  background-color: #1cd7ad;
  background-image: url(../img/partner_3_icon.png);
  background-position: 46.5% 45%;
}

.partners_list_item:nth-child(4) .img_block::after {
  background-color: #4e73db;
  background-image: url(../img/partner_4_icon.png);
  background-position: 39.286% 50.5%;
}

.partners_list_item h3 {
  margin: 20px 0 16px 0;
}

.partners_list_item p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}

.partners_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 38px;
  margin: 26px auto 0 auto;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  text-decoration: none;
  font-size: 14px;
  border-radius: 26px;
  transition: all .2s linear;
  cursor: pointer;
}

.partners_link:hover {
  background-color: #ff4e50;
  color: #fff;
  box-shadow: rgb(238, 210, 55) 2px 2px 2px 2px;
}

@media (min-width: 768px) {

  .site_header {
    padding-top: 30px;
    height: 700px;
  }

  .header_top_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 665px;
    line-height: 1.9;
    margin-bottom: 66px;
  }

  .header_upper_slogan {
    font-size: 52px;
    margin-top: 80px;
    margin-bottom: 25px;
    width: 503px;
  }

  .header_company_wrapper {
    width: 66%;
  }

  .header_account_list {
    margin: 0;
  }

  .header_account_list_item:not(:last-child) {
    margin-right: 18px;
  }

  .header_lower_slogan {
    font-size: 24px;
    width: 387px;
    margin-bottom: 35px;
  }

  .header_link {
    width: 227px;
    height: 39px;
  }

  .partners_section {
    width: 490px;
    padding-bottom: 39px;
  }

  .partners_heading {
    margin-bottom: 33px;
  }

  .partners_list {
    display: flex;
    flex-flow: column wrap;
    width: 490px;
    height: 507px;
    align-content: space-between;
  }

  .partners_list_item {
    width: 214px;
  }

  .partners_list_item:not(:nth-child(2n)) {
    margin-bottom: 55px;
  }

  .partners_list_item:nth-child(2n) {
    margin-bottom: 0;
  }

  .partners_link {
    margin-top: 37px;
    width: 190px;
  }

}

@media (min-width: 1440px) {

  .site_header {
    padding-top: 40px;
  }

  .header_top_wrapper {
    width: 980px;
    margin-bottom: 57px;
  }

  .header_account_list {
    margin-right: 18px;
  }

  .header_account_list_item:not(:last-child) {
    margin-right: 26px;
  }

  .header_company_wrapper {
    width: 503px;
  }

  .header_upper_slogan {
    margin-bottom: 20px;
  }

  .header_lower_slogan {
    margin-left: -6px;
    margin-bottom: 32px;
  }

  .header_link {
    width: 223px;
    margin-right: -1px;
  }

  .partners_section {
    width: 940px;
    padding-bottom: 71px;
  }

  .partners_list {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    height: 250px;
  }

  .partners_list_item:nth-child(-n + 4) {
    margin-bottom: 0;
  }

  .partners_list_item:nth-child(2) {
    order: 3;
  }

  .partners_list_item:nth-child(3) {
    order: 2;
  }

  .partners_list_item:nth-child(4) {
    order: 4;
  }

}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v20-latin-100.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-100.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin-300.woff') format('woff');
}