* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.short_wrapper {
  width: 940px;
  margin: 0 auto;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 124px;
}

.header_logo {
  font-size: 26px;
  font-family: 'Wisdom Script';
  font-style: normal;
  font-weight: 400;
  color: #fed136;
}

.header_list_item {
  display: inline-block;
  margin-top: 51px;
}

.header_list_item:not(:last-child) {
  margin-right: 39px;
}

.header_list_item a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  transition: color .6s;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; /* В Photoshop'е указано, что 400, но выглядит явно на 600. Сделал по внешнему виду */
}

.header_list_item a:hover {
  color: #fed136;
}

.services_heading, 
.contact_heading {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
}

.services_heading::after, 
.contact_heading::after {
  content: "Proin iaculis purus consequat sem cure.";
  font-size: 16px;
  display: block;
  text-transform: none;
  color: #777777;
  margin-top: 11px;
  margin-bottom: 76px;
  font-family: 'DroidSerif';
  font-style: italic;
  font-weight: 400;
}

.services_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;
}

.services_flex_item::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid #fed136;
  border-radius: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
}

.services_flex_item:nth-child(1)::before {
  background-image: url(../img/services_1.png);
}

.services_flex_item:nth-child(2)::before {
  background-image: url(../img/services_2.png);
}

.services_flex_item:nth-child(3)::before {
  background-image: url(../img/services_3.png);
}

.services_flex_item > h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 14px;
  text-transform: capitalize;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
}

.services_flex_item > p {
  text-align: center;
  width: 286px;
  font-size: 14px;
  color: #777777;
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
}

.contact_wrapper {
  background-color: #222222;
  background-image: url(../img/contact_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 117px;
  padding: 107px 0 120px 0;
}

.contact_heading {
  color: #fff;
}

.contact_flex {
  display: flex;
  justify-content: space-between;
}

.contact_flex_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_flex_inputs > input,
.contact_flex_textarea > textarea,
.contact_form_button {
  border-radius: 4px;
}

.contact_flex_inputs > input {
  width: 455px;
  padding: 16px 0 19px 20px
}

input:required:valid,
textarea:required:valid {
  outline: 1px solid green;
  box-shadow: 0 0 0 3px green;
}

input:required:valid:focus,
textarea:required:valid:focus {
  outline: 2px solid green;
  box-shadow: 0 0 0 3px green;
}

input:required:invalid,
textarea:required:invalid {
  outline: 1px solid #d63737;
  box-shadow: 0 0 0 3px #d63737;
}

input:required:invalid:focus,
textarea:required:invalid:focus {
  outline: 2px solid #d63737;
  box-shadow: 0 0 0 3px #d63737;
}

.contact_flex_inputs > input::placeholder,
.contact_flex_textarea > textarea::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: #bbbbbb;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; /* И снова сделал по внешнему виду. Там явно не 800 */
}

.contact_flex_textarea > textarea {
  resize: none;
  height: 220px;
  width: 455px;
  padding: 16px 0 0 20px;
  margin-bottom: -4px;
  border: none;
}

.contact_flex_inputs > input,
.contact_flex_textarea > textarea {
  border: 1px solid #cccccc;
}

.contact_form_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed136;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  padding: 25px 45px;
  margin: 34px auto 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; /* Тоже по внешнему виду */
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-800.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
       url('../fonts/montserrat-v14-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Wisdom Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Wisdom-Script.woff') format('woff');
}

@font-face {
  font-family: 'DroidSerif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/droidserifitalic.woff') format('woff'),
       url('../fonts/droidserifitalic.woff2') format('woff2');
}

