@mixin font-styles ($size, $family, $weight, $style: normal) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
}

@mixin width-height ($width, $height) {
  width: $width;
  height: $height;
}