.container1 {
  display: flex;
  justify-content: space-around;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.box {
  width: 20%;
  height: 500px;
  border: 1px solid #000;
  position: relative;
  text-align: center;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
}

.body {
  scroll-behavior: smooth;
}

/* .box:hover {
  animation: hover .3s linear 1 alternate forwards;
}

@keyframes hover {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
} */

/* .ins {
  position: absolute;
  width: 25%;
  height: 25%;
  opacity: 0;
} */

/* .ins1 {
  top: 0;
  left: 0;
} */

/* .ins2 {
  top: 0;
  right: 0;
}

.ins3 {
  bottom: 0;
  right: 0;
}

.ins4 {
  bottom: 0;
  left: 0;
} */

.ins1 {
  position: absolute;
  width: 0%; height: 100%;
  background: #fff;
  top: 0;  left: auto; right: 0;
  z-index: -1;
  transition: all 500ms ease;
  transform: rotate(10deg);
}

.box1:hover {
  color: white; 
  box-shadow:none;
}
.box1:hover .ins1{
    position: absolute;
    width: 100%; height: 100%;
    background: #000;
    top: 0; left: 0; right: 0;
    z-index: -1;
    transform: rotate(0);
}

.ins2 {
  position: absolute;
  width: 100%; height: 0%;
  background: #fff;
  top: 0;  left: auto; right: 0;
  z-index: -1;
  transition: all 500ms ease;
  transform: rotate(-10deg);
}

.box1:hover .ins2{
    position: absolute;
    width: 100%; height: 100%;
    background: #000;
    top: 0; left: 0; right: 0;
    z-index: -1;
    transform: rotate(0);
}

.ins3 {
  position: absolute;
  width: 0%; height: 100%;
  background: #fff;
  top: 0;  left: auto; right: 0;
  z-index: -1;
  transition: all 500ms ease;
}

.box2:hover {
  color: white; 
  box-shadow:none;
}
.box2:hover .ins3{
    position: absolute;
    width: 100%; height: 100%;
    background: #000;
    top: 0; left: 0; right: 0;
    z-index: -1;
}

.ins4 {
  position: absolute;
  width: 100%; height: 0%;
  background: #fff;
  top: 0;  left: auto; right: 0;
  z-index: -1;
  transition: all 500ms ease;
}

.box2:hover .ins4{
    position: absolute;
    width: 100%; height: 100%;
    background: #000;
    top: 0; left: 0; right: 0;
    z-index: -1;
}

/* .box:hover .ins1 {
  animation: ins1 .45s linear 1 both;
  background: #000;
}

@keyframes ins1 {
  0% {
    top: 0;
    left: 0;
    opacity: 0;
    width: 25%;
    height: 25%;
  }
  50% {
    width: 25%;
    height: 25%;
    top: 15%;
    left: 15%;
    opacity: .3;
  }
  70% {
    width: 25%;
    height: 25%;
    top: 25%;
    left: 25%;
    opacity: .6;
  }
  100% {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    opacity: 1;
  }
}

.box:hover .ins2 {
  animation: ins2 .4s linear 1 both;
  background: #000;
}

@keyframes ins2 {
  0% {
    top: 0;
    right: 0;
    opacity: 0;
    width: 25%;
    height: 25%;
  }
  50% {
    width: 25%;
    height: 25%;
    top: 15%;
    right: 15%;
    opacity: .3;
  }
  70% {
    width: 25%;
    height: 25%;
    top: 25%;
    right: 25%;
    opacity: .6;
  }
  100% {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    opacity: 1;
  }
}

.box:hover .ins3 {
  animation: ins3 .45s linear 1 both;
  background: #000;
}

@keyframes ins3 {
  0% {
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 25%;
    height: 25%;
  }
  50% {
    width: 25%;
    height: 25%;
    bottom: 15%;
    right: 15%;
    opacity: .3;
  }
  70% {
    width: 25%;
    height: 25%;
    bottom: 25%;
    right: 25%;
    opacity: .6;
  }
  100% {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    opacity: 1;
  }
}

.box:hover .ins4 {
  animation: ins4 .4s linear 1 both;
  background: #000;
}

@keyframes ins4 {
  0% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 25%;
    height: 25%;
  }
  50% {
    width: 25%;
    height: 25%;
    bottom: 15%;
    left: 15%;
    opacity: .3;
  }
  70% {
    width: 25%;
    height: 25%;
    bottom: 25%;
    left: 25%;
    opacity: .6;
  }
  100% {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    opacity: 1;
  }
} */

.a {
  text-decoration: none;
  width: auto;
  height: auto;
  font-size: 2em;
  padding: 1em 2em;
  background: white;
  position: relative;
  border: 3px solid blue;
  color: blue;
  transition-delay: 0.3s;
  transition-delay: 0s, 0s, 0.5s;
}
.a.clicked {
  color: transparent;
  transition: width 0.4s ease-in-out, border-radius 0.2s ease-in-out, transform 0.5s ease-in;
  transition-delay: 0s, 0s, 0.5s;
  width: 460px;
  height: 260px;
  padding: 0px;
  border-radius: 100%;
  background-color: blue;
  transform: translateY(1000%) scale(0.5);
}
.a.clicked:hover {
  color: transparent;
  border-color: blue;
  background-color: blue;
}
.a.clicked:before {
  opacity: 0;
}
.a.clicked:after {
  opacity: 0;
}
.a:before, .a:after {
  z-index: -1;
}
.a:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background: blue;
  left: 10%;
  top: 0;
  transform: skewX(-25deg);
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, animation 0s ease-in-out;
  transition-delay: 0s, 0.2s, 0.4s;
}
.a:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background: blue;
  right: 10%;
  top: 0;
  transform: skewX(25deg);
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, animation 0s ease-in-out;
  transition-delay: 0s, 0.2s, 0.4s;
}
.a:hover {
  background: transparent;
  border-color: white;
  color: white;
  z-index: 4;
}
.a:hover:before, .a:hover:after {
  box-shadow: 0px 10px 0px -5px white, 0px 15px 0px -5px blue;
  animation: shadows 1s ease-in-out 2;
}
@keyframes shadows {
  0% {
    box-shadow: 0px 10px 0px -5px white, 0px 15px 0px -5px blue;
 }
  50% {
    box-shadow: 0px 10px 0px -5px white, 0px 45px 0px -35px blue;
 }
  100% {
    box-shadow: 0px 10px 0px -5px white, 0px 15px 0px -5px blue;
 }
}
.a:hover:before {
  transform: skewX(0deg) translateY(25%) scaleX(1.425);
  top: -25%;
}
.a:hover:after {
  transform: skewX(0deg) translateY(25%) scaleX(1.425);
  top: -25%;
}





.contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 40px;
  margin: auto;
}

.btn {
  position: relative;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
}

.btn::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  width: 10px;
  height: 80px;
  margin: auto;
  background: #000;
  visibility: hidden;
  opacity: 0;
}

.btn:hover::before {
  animation: sword .5s;
}

@keyframes sword {
  0% {top: -100px; visibility: hidden; opacity: 0; transform: rotate(-360deg);}
  20% {visibility: visible; opacity: 1;}
  100% {top: 100px; visibility: hidden; opacity: 0; transform: rotate(0);}
}

.btn a {
  display: block;
  color: #000;
  font-size: 13px;
  text-decoration: none;
}

.btn a::before,
.btn a::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100px;
  height: 38px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: all .5s 0s;
}

.btn a::before {
  left: 0;
  border-left: 1px solid #000;
}

.btn a::after {
  right: 0;
  border-right: 1px solid #000;
}

.btn a:hover::before {
  left: -20px;
  transition: all .5s .2s;
  opacity: 0;
}

.btn a:hover::after {
  right: -20px;
  transition: all .5s .2s;
  opacity: 0;
}

.container {
  position: relative;
  height: 50vh;
}