.footer {
  @extend %display-flex-cross-browser;
  @extend %justify-between__align-baseline__cross-browser;
  margin-top: 80px;
  height: 59px;
  border-top: 1px solid $main-grey-color;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__copy {
  @include font-styles(14px, 'Montserrat', 600);
  margin: 24px 0 24px 0;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.footer__author {
  color: $main-red-color;
  text-decoration: none;
}

.footer__form {
  @extend %display-flex-cross-browser;
}

.footer__form-input {
  @include width-height(230px, 38px);
  border: 1px solid $main-grey-color;
  padding-left: 10px;
}

.footer__form-input::-webkit-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::-moz-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input:-ms-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::-ms-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-button {
  @include width-height(150px, 38px);
  @include font-styles(14px, 'Montserrat', 600);
  background: $main-blue-color;
  border: none;
  margin-left: -5px;
  text-transform: uppercase;
  color: $main-white-color;
  cursor: pointer;
}