.top-container {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
      background-image: url('../img/header_bg@2x.jpg');
  }
  
  @media (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1), (min-resolution: 288dpi) {
      background-image: url('../img/header_bg@3x.jpg');
  }
}

.header {
  @extend %display-flex-cross-browser;
  @extend %justify-between__align-baseline__cross-browser;
  margin: 0 auto 150px auto;
  width: 72%;
  padding-left: 5%;

  @media (max-width: 1340px) {
      width: 95%;
  }
}

.header *,
.welcome * {
  color: $main-white-color;
}

.top-gradient {
  @extend %main-gradient-cross-browser;
  padding-bottom: 236px;
  margin-bottom: 48px;
}

.header__logo-link {
  @include font-styles(30px, 'Montserrat', 700);
  text-decoration: none;
}

.header__nav {
  margin-top: 26px;
}

.header__nav-list {
  margin-right: 36px;

  @media (max-width: 882px) {
    display: flex;
    flex-direction: column;
  }
}

.header__nav-list-item {
  display: inline-block;

  &::after {
    @include width-height(52px, 3px);
    content: "";
    background-color: $main-yellow-color;
    display: block;
    opacity: 0;
    margin: 10px auto 0 auto;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;

    @media (max-width: 882px) {
      margin: 10px 0;
    }
  }

  &:hover::after {
    opacity: 1;
  }

  &:not(:nth-last-child(-n + 2)) {
    margin-right: 48px;
  }
}

.header__nav-link {
  @include font-styles(14px, 'Montserrat', 400);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;

  &:hover {
    color: $main-yellow-color;
  }
}

.header__nav-list-icon {
  @include width-height(19px, 19px);
  @extend %all-transition-cross-browser;
  fill: $main-white-color;

  &:hover {
    fill: $main-yellow-color;
  }
}

.welcome,
.welcome__link {
  text-transform: uppercase;
  text-align: center;
}

.welcome__text {
  @include font-styles(150px, 'Montserrat', 700);
  width: 860px;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.02;

  &::before {
    @include font-styles(72px, 'Kaushan Script', 400);
    display: block;
    content: "Creative Template";
    text-transform: none;
    text-align: center;
    margin-bottom: 15px;
  }

  @media (max-width: 1208px) {
    width: 90%;
    font-size: 80px;
  }

  @media (max-width: 492px) {
    font-size: 48px;
  }
}

.welcome__text--to-right {
  margin-left: 26px;
  display: block;
}

.welcome__link {
  @extend %display-flex-cross-browser;
  @extend %flex-center-cross-browser;
  @include width-height(155px, 42px);
  @include font-styles(14px, 'Montserrat', 700);
  border: 3px solid $main-white-color;
  text-decoration: none;
  margin: 106px auto 0 auto;
}