/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header__nav-list-icon, .team__list-img, .team__list-hover-block, .team__list-hover-block-item, .team__list-icon, .team__list-under-block {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.header__top, .header__link, .services__list, .services__list-item, .team__list, .team__list-hover-block, .footer, .footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__link, .team__list-hover-block {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.services__list, .services__list-item, .team__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__top, .footer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.header__container, .team__list-hover-block {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(240, 212, 127, 0.9)), color-stop(86%, rgba(248, 137, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(240, 212, 127, 0.9) 10%, rgba(248, 137, 129, 0.9) 86%);
  background: linear-gradient(0deg, rgba(240, 212, 127, 0.9) 10%, rgba(248, 137, 129, 0.9) 86%); }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-wrapper,
.footer {
  width: 1201px;
  margin: 0 auto; }

.header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px; }

.header * {
  color: #fff; }

.header__container {
  padding-bottom: 236px; }

.header__top {
  width: 1280px;
  margin: 0 0 150px 360px; }

.header__logo-link {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  text-decoration: none; }

.header__nav {
  margin-top: 26px; }

.header__nav-list {
  margin-right: 36px; }

.header__nav-list-item {
  display: inline-block; }
  .header__nav-list-item::after {
    width: 52px;
    height: 3px;
    content: "";
    background-color: #fce38a;
    display: block;
    opacity: 0;
    margin: 10px auto 0 auto;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear; }
  .header__nav-list-item:hover::after {
    opacity: 1; }
  .header__nav-list-item:not(:nth-last-child(-n + 2)) {
    margin-right: 48px; }

.header__nav-link {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear; }
  .header__nav-link:hover {
    color: #fce38a; }

.header__nav-list-icon {
  width: 19px;
  height: 19px;
  fill: #fff; }
  .header__nav-list-icon:hover {
    fill: #fce38a; }

.header__welcome,
.header__link {
  text-transform: uppercase;
  text-align: center; }

.header__welcome {
  font-size: 150px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  width: 860px;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.02; }
  .header__welcome::before {
    font-size: 72px;
    font-family: "Kaushan Script";
    font-weight: 400;
    font-style: normal;
    display: block;
    content: "Creative Template";
    text-transform: none;
    text-align: center;
    margin-bottom: 15px; }

.header__welcome--to-right {
  margin-left: 26px; }

.header__link {
  width: 155px;
  height: 42px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  border: 3px solid #fff;
  text-decoration: none;
  margin: 106px auto 0 auto; }

.services__heading {
  margin-bottom: 60px;
  font-size: 30px; }

.team__heading {
  margin-bottom: 52px; }

.services {
  margin-bottom: 86px; }

.services__heading,
.team__heading {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  text-align: center; }
  .services__heading::before,
  .team__heading::before {
    font-size: 24px;
    font-family: "Kaushan Script";
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-bottom: 17px; }
  .services__heading::after,
  .team__heading::after {
    width: 57px;
    height: 3px;
    content: "";
    background-color: #f38181;
    display: block;
    margin: 38px auto 0 auto; }

.services__heading::before {
  content: "We work with"; }

.team__heading::before {
  content: "Who we are"; }

.services__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 29px 0 29px; }

.services__list-item {
  width: 340px;
  height: 80px; }

.services__list-icon {
  width: 31px; }

.services__list-svg {
  fill: #95e1d3; }

.services__list-text {
  width: 279px; }

.services__list-heading {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 14px; }

.services__list-descr {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #b3b3b3; }

.services__list-item:nth-child(-n+3) {
  margin-bottom: 99px; }

.team__upper-text,
.team__list-heading,
.team__list-text {
  text-align: center; }

.team__upper-text {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  width: 943px;
  margin: 0 auto 90px auto;
  color: #b3b3b3; }

.team__list {
  list-style-type: none; }

.team__list-item {
  position: relative; }

.team__list-heading {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  margin: 25px 0 12px 0;
  text-transform: uppercase; }

.team__list-text {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  color: #b3b3b3; }

.team__list-img-block {
  width: 380px;
  height: 470px; }
  .team__list-img-block:hover .team__list-hover-block {
    left: -11px;
    top: -11px;
    opacity: 1; }
  .team__list-img-block:hover .team__list-img {
    -webkit-transform: translate(-11px, -11px);
    -ms-transform: translate(-11px, -11px);
    transform: translate(-11px, -11px); }
  .team__list-img-block:hover .team__list-under-block {
    opacity: 1; }

.team__list-img {
  position: relative;
  opacity: 1;
  z-index: 2; }

.team__list-hover-block {
  width: 380px;
  height: 470px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3; }

.team__list-hover-block-item {
  width: 53px;
  height: 54px;
  background-color: #fce38a; }
  .team__list-hover-block-item:not(:last-child) {
    border-right: 1px solid #f9bd87; }
  .team__list-hover-block-item:hover {
    background-color: #f38181; }
  .team__list-hover-block-item:hover .team__list-icon {
    fill: #fff; }

.team__list-icon-link {
  cursor: pointer; }

.team__list-icon {
  width: 100%;
  height: 100%;
  fill: #f38181; }

.team__list-under-block {
  width: 380px;
  height: 470px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #95e1d3;
  z-index: 1; }

.footer {
  margin-top: 80px;
  height: 59px;
  border-top: 1px solid #d9d9d9; }

.footer__copy {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  margin: 24px 0 24px 0; }

.footer__author {
  color: #f38181;
  text-decoration: none; }

.footer__form-input {
  width: 230px;
  height: 38px;
  border: 1px solid #d9d9d9;
  padding-left: 10px; }

.footer__form-input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #d9d9d9; }

.footer__form-input::-moz-placeholder {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #d9d9d9; }

.footer__form-input:-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #d9d9d9; }

.footer__form-input::-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #d9d9d9; }

.footer__form-input::placeholder {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  color: #d9d9d9; }

.footer__form-button {
  width: 150px;
  height: 38px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  background: #95e1d3;
  border: none;
  margin-left: -5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer; }

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-resolution: 192dpi) {
  .header {
    background-image: url("../img/header_bg@2x.jpg"); } }

@media (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3 / 1), (min-resolution: 288dpi) {
  .header {
    background-image: url("../img/header_bg@3x.jpg"); } }