/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

// Colors---------------------------
$main-yellow-color: #fce38a;
$main-red-color: #f38181;
$main-grey-color: #d9d9d9;
$main-white-color: #fff;
$main-blue-color: #95e1d3;
$secondary-grey-color: #b3b3b3;

// Шрифты не стал сюда выносить, так как проще и эффективнее сделать миксин с рядом свойств для текста

@mixin font-styles ($size, $family, $weight, $style: normal) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
}

@mixin width-height ($width, $height) {
  width: $width;
  height: $height;
}

%all-transition-cross-browser {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

%display-flex-cross-browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

%flex-center-cross-browser {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

%justify-between-cross-browser {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

%justify-between__align-baseline__cross-browser {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

%main-gradient-cross-browser {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(240, 212, 127, 0.9)), color-stop(86%, rgba(248, 137, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(240, 212, 127, 0.9) 10%, rgba(248, 137, 129, 0.9) 86%);
  background: linear-gradient(0deg, rgba(240, 212, 127, 0.9) 10%, rgba(248, 137, 129, 0.9) 86%);
}

//--------------------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wrapper,
.footer {
  width: 1201px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
}

.header * {
  color: $main-white-color;
}

.header__container {
  @extend %main-gradient-cross-browser;
  padding-bottom: 236px;
}

.header__top {
  @extend %display-flex-cross-browser;
  @extend %justify-between__align-baseline__cross-browser;
  width: 1280px;
  margin: 0 0 150px 360px;
}

.header__logo-link {
  @include font-styles(30px, 'Montserrat', 700);
  text-decoration: none;
}

.header__nav {
  margin-top: 26px;
}

.header__nav-list {
  margin-right: 36px;
}

.header__nav-list-item {
  display: inline-block;

  &::after {
    @include width-height(52px, 3px);
    content: "";
    background-color: $main-yellow-color;
    display: block;
    opacity: 0;
    margin: 10px auto 0 auto;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  &:hover::after {
    opacity: 1;
  }

  &:not(:nth-last-child(-n + 2)) {
    margin-right: 48px;
  }
}

.header__nav-link {
  @include font-styles(14px, 'Montserrat', 400);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;

  &:hover {
    color: $main-yellow-color;
  }
}

.header__nav-list-icon {
  @include width-height(19px, 19px);
  @extend %all-transition-cross-browser;
  fill: $main-white-color;

  &:hover {
    fill: $main-yellow-color;
  }
}

.header__welcome,
.header__link {
  text-transform: uppercase;
  text-align: center;
}

.header__welcome {
  @include font-styles(150px, 'Montserrat', 700);
  width: 860px;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.02;

  &::before {
    @include font-styles(72px, 'Kaushan Script', 400);
    display: block;
    content: "Creative Template";
    text-transform: none;
    text-align: center;
    margin-bottom: 15px;
  }
}

.header__welcome--to-right {
  margin-left: 26px;
}

.header__link {
  @extend %display-flex-cross-browser;
  @extend %flex-center-cross-browser;
  @include width-height(155px, 42px);
  @include font-styles(14px, 'Montserrat', 700);
  border: 3px solid $main-white-color;
  text-decoration: none;
  margin: 106px auto 0 auto;
}

.services__heading {
  margin-bottom: 60px;
  font-size: 30px;
}

.team__heading {
  margin-bottom: 52px;
}

.services {
  margin-bottom: 86px;
}

.services__heading,
.team__heading {
  @include font-styles(30px, 'Montserrat', 700);
  text-align: center;

  &::before {
    @include font-styles(24px, 'Kaushan Script', 400);
    display: block;
    margin-bottom: 17px;
  }

  &::after {
    @include width-height(57px, 3px);
    content: "";
    background-color: $main-red-color;
    display: block;
    margin: 38px auto 0 auto;
  }
}

.services__heading::before {
  content: "We work with";
}

.team__heading::before {
  content: "Who we are";
}

.services__list {
  @extend %display-flex-cross-browser;
  @extend %justify-between-cross-browser;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0 29px 0 29px;
}

.services__list-item {
  @include width-height(340px, 80px);
  @extend %display-flex-cross-browser;
  @extend %justify-between-cross-browser;
}

.services__list-icon {
  width: 31px;
}

.services__list-svg {
  fill: $main-blue-color;
}

.services__list-text {
  width: 279px;
}

.services__list-heading {
  @include font-styles(14px, 'Montserrat', 700);
  text-transform: uppercase;
  margin-bottom: 14px;
}

.services__list-descr {
  @include font-styles(15px, 'Roboto', 400);
  line-height: 24px;
  color: $secondary-grey-color;
}

.services__list-item:nth-child(-n+3) {
  margin-bottom: 99px;
}

.team__upper-text,
.team__list-heading,
.team__list-text {
  text-align: center;
}

.team__upper-text {
  @include font-styles(15px, 'Roboto', 400);
  width: 943px;
  margin: 0 auto 90px auto;
  color: $secondary-grey-color;
}

.team__list {
  @extend %display-flex-cross-browser;
  @extend %justify-between-cross-browser;
  list-style-type: none;
}

.team__list-item {
  position: relative;
}

.team__list-heading {
  @include font-styles(14px, 'Montserrat', 600);
  margin: 25px 0 12px 0;
  text-transform: uppercase;
}

.team__list-text {
  @include font-styles(15px, 'Roboto', 300, italic);
  color: $secondary-grey-color;
}

.team__list-img-block {
  @include width-height(380px, 470px);

  &:hover .team__list-hover-block {
    left: -11px;
    top: -11px;
    opacity: 1;
  }

  &:hover .team__list-img {
    -webkit-transform: translate(-11px, -11px);
        -ms-transform: translate(-11px, -11px);
            transform: translate(-11px, -11px);
  }

  &:hover .team__list-under-block {
    opacity: 1;
  }
}

.team__list-img {
  @extend %all-transition-cross-browser;
  position: relative;
  opacity: 1;
  z-index: 2;
}

.team__list-hover-block {
  @extend %display-flex-cross-browser;
  @extend %flex-center-cross-browser;
  @extend %main-gradient-cross-browser;
  @extend %all-transition-cross-browser;
  @include width-height(380px, 470px);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.team__list-hover-block-item {
  @include width-height(53px, 54px);
  @extend %all-transition-cross-browser;
  background-color: $main-yellow-color;

  &:not(:last-child) {
    border-right: 1px solid #f9bd87;
  }

  &:hover {
    background-color: $main-red-color;
  }

  &:hover .team__list-icon {
    fill: $main-white-color;
  }
}

.team__list-icon-link {
  cursor: pointer;
}

.team__list-icon {
  @include width-height(100%, 100%);
  @extend %all-transition-cross-browser;
  fill: $main-red-color;
}

.team__list-under-block {
  @include width-height(380px, 470px);
  @extend %all-transition-cross-browser;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: $main-blue-color;
  z-index: 1;
}

.footer {
  @extend %display-flex-cross-browser;
  @extend %justify-between__align-baseline__cross-browser;
  margin-top: 80px;
  height: 59px;
  border-top: 1px solid $main-grey-color;
}

.footer__copy {
  @include font-styles(14px, 'Montserrat', 600);
  margin: 24px 0 24px 0;
}

.footer__author {
  color: $main-red-color;
  text-decoration: none;
}

.footer__form {
  @extend %display-flex-cross-browser;
}

.footer__form-input {
  @include width-height(230px, 38px);
  border: 1px solid $main-grey-color;
  padding-left: 10px;
}

.footer__form-input::-webkit-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::-moz-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input:-ms-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::-ms-input-placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-input::placeholder {
  @include font-styles(15px, 'Roboto', 300, italic);
  text-transform: capitalize;
  color: $main-grey-color;
}

.footer__form-button {
  @include width-height(150px, 38px);
  @include font-styles(14px, 'Montserrat', 600);
  background: $main-blue-color;
  border: none;
  margin-left: -5px;
  text-transform: uppercase;
  color: $main-white-color;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .header {
    background-image: url('../img/header_bg@2x.jpg');
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1), (min-resolution: 288dpi) {
  .header {
    background-image: url('../img/header_bg@3x.jpg');
  }
}